/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  /* height: 100%; */
  justify-content: center;
  flex-direction: column;
  background: #5372F0;
  background-image: url('books.jpg');
  background-size: cover;
  position: relative;
  min-height: 100vh;
 
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 10, 68, 0.8); /* Adjust the last value (0.5) to control the transparency */
}

.quote-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.wrapper{
  width: 705px;
  background: #fff;
  border-radius: 15px;
  padding: 30px 30px 25px;
  opacity: 0.6;
  box-shadow: 0 12px 35px rgba(0,0,0,0.1);
}

header, .content :where(i, p, span){
  color: #202842;
}
.wrapper header{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.wrapper .content{
  margin: 35px 0;
}
.content .quote-area{
  display: flex;
  justify-content: center;
}
.quote-area i{
  font-size: 15px;
}
.quote-area i:first-child{
  margin: 3px 10px 0 0;
}
.quote-area i:last-child{
  display: flex;
  margin: 0 0 3px 10px;
  align-items: flex-end;
}
.quote-area .quote{
  font-size: 22px;
  text-align: center;
  /* word-break: break-all; */
}
.content .author{
  display: flex;
  font-size: 18px;
  margin-top: 20px;
  font-style: italic;
  justify-content: flex-end;
}
.author span:first-child{
  margin: -7px 5px 0 0;
  font-family: monospace;
}
.wrapper .buttons{
  border-top: 1px solid #ccc;
}
.buttons .features{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.features ul{
  display: flex;
}
.features ul li{
  margin: 0 5px;
  height: 47px;
  width: 47px;
  display: flex;
  cursor: pointer;
  color: #5372F0;
  list-style: none;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 2px solid #5372F0;
  transition: all 0.3s ease;
}
.features ul li:first-child{
  margin-left: 0;
}
ul li:is(:hover, .active){
  color: #fff;
  background: #5372F0;
}
ul .speech.active{
  pointer-events: none;
}
.buttons button{
  border: none;
  color: #fff;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  padding: 13px 22px;
  border-radius: 30px;
  background: #5372F0;
}
.buttons button.loading{
  opacity: 0.7;
  pointer-events: none;
}

.foots{
  font-size: 13px;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-shrink: 0;
}

.foots a{
  color: #a5c5ec;
  text-decoration: none;
}

/* About Page */
.profile-container{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  flex: 1;
}

.profile{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0.7;
  margin-bottom: 10px;
}

.profile-wrapper{
  width: 705px;
  height: 50vh;
  background: #fff;
  border-radius: 15px;
  padding: 30px 30px 25px;
  line-height: 1.9;
  opacity: 0.6;
  box-shadow: 0 12px 35px rgba(0,0,0,0.1);
  /* flex: 1; */
  overflow-y: auto;
}

/* Responsiveness for other Screens using Media Query Starts Here */

@media only screen and (max-width:768px){
    /* Home Page Mobile */
    .container {
      min-height: 98vh;
    }
    .quote-container{
      display: flex;
      align-items: center;
    }
    .wrapper{
      width: 85%;
    }
    .wrapper header {
      font-size: 25px;
      font-weight: 600;
      text-align: center;
    }
    .quote-area .quote{
      font-size: 18px;
      text-align: center;
      word-break: normal;
    }
    .buttons button{
      font-size: 13px;
      cursor: pointer;
      padding: 10px 8px;
      border-radius: 10px;
    }

    /* About Page Mobile */

    .profile-container{
      margin-top: 50px;
    }
    .profile img{
      height: 100px;
      width: 100px;
      margin-bottom: 10px;
    }
    .profile-wrapper {
      width: 85%;
      height: 63vh;
      padding: 20px;
      text-align: justify;
    }
  }